<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить продукт</title>
</head>
<body>
    <form action="#" th:action="@{/addproduct}" th:object = "${product}" method="post">
        <label for="itemname">Название продукта:</label>
        <input type="text" id="itemname" th:field="*{itemName}"/>

        <label for="itemprice">Цена продукта:</label>
        <input type="text" id="itemprice" th:field="*{itemPrice}"/>

        <label for="itemquantity">Количество продукта:</label>
        <input type="text" id="itemquantity" th:field="*{itemQuantity}"/>

        <input type="submit" value="Добавить"/>

    </form>


</body>
</html>