<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о продукте</title>
</head>
<body>
<h1>Информация о продукте</h1>
<p>ID: <span th:text="${product.id}"></span></p>
<p>Название: <span th:text="${product.itemName}"></span></p>
<p>Цена: <span th:text="${product.itemPrice}"></span></p>
<p>Количество: <span th:text="${product.itemQuantity}"></span></p>
<p>Дата создания: <span th:text="${product.createdAt}"></span></p>


<a th:href = "@{/buy/{id}(id=${product.id})}"><button>Купить товар</button></a>
<a th:href = "@{/removeproduct/{id}(id=${product.id})}"><button>Удалить товар</button></a>
<a th:href = "@{/edit/{id}(id=${product.id})}"><button>Редактировать товар</button></a>
</body>
</html>